:root{
    --color-hud: #f8f9fa;
    --border-buttons: #ababad;
    --btnHub-buttons:rgb(206, 29, 29);
    --background:#ffffff;
    --icons:rgb(12, 12, 12);
    --p:black;
    --iconsNormal: rgb(167, 6, 6);
    --card:#fff;
    --bordercard: #e9ecef;
    --boxshadow: rgba(0,0,0,.08);
    --txtHub:#e9ecef;
}

.nightMode{
    --background: #121212;
    --color-hud: #1e1e1e;
    --card: #1f1f1f;
    --p: #e9ecef;
    --icons: #ffffff;
    --iconsNormal: #dc3545;
    --btnHub-buttons: #dc3545;
    --border-buttons: #495057;
    --bordercard: #343a40;
    --boxshadow: rgba(0,0,0,.4);
    --txtHub:#e9ecef;
}

body{
    background-color: var(--background);
}

p, .hr{
    color: var(--p);
    font-family: 'Inter', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, .hr{
    color: var(--p);
}

#hud, #footer{
    background-color: var(--color-hud);
    z-index: 3;
    top: 0%;
}

#myCarousel{
    width: 100%;
    height: 50vh;
    margin-top: 5.2%;
}

.carousel-inner, .carousel-item, .imgcarousel{
    height: 100%;
    width: 100%;
}

.carousel-control-next, .carousel-control-prev{
    background-color: var(--border-buttons);
    top: 40%;
    width: 2%;
    height: 15%;
    border-radius: 70%;
}

.txtbanner, .btnBanner{
    color:var(--txtHub);
}

#textBanner{
    top: 20%;
    left: 10%;
}

.btnBanner, .dropdown-item, .dropdown-menu{
    color: var(--card);
    border-color: var(--border-buttons);
    background-color: var(--btnHub-buttons);
}

.card{
    background: var(--card);
    border: 1px solid var(--bordercard);
    box-shadow: 0 4px 12px var(--boxshadow);
    position: relative;
    height: 100%;
    transition: .3s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.03);
}

.imgWatch{
    width: 20%;
    height: 50px;
}

i{
    color: var(--icons);
}

.iregulars{
    color:var(--iconsNormal)
}

.linkFooter{
    display: block;
}

.toast, .toast-header, .toast-body{
    background-color: var(--card);
    color: var(--p);
    border: 0.5px solid var(--p);
}

.list-group-item{
    background-color: var(--card);
    color: var(--p);
    border-color: 0.5px solid var(--bordercard);
    cursor: pointer;
}

.mainCategorie{
    border: 0px solid var(--iconsNormal);
}
